<div class="userPartials">
    <label>Name:{{this.name}}</label>
    <label>Ano:{{this.ano}}</label>
    <label>Modelo:{{this.modelo}}</label>
    <label>Motor:{{this.motor}}</label>
    <label>Fabricante:{{this.fabricante}}</label>
    <label>Cor:{{this.cor}}</label>
    <label>Valor:{{this.valor}}</label>
    <label>Opcionais:{{this.opcionais}}</label>
</div>