<h1>Todos os Carros</h1>


{{!-- <div class="container">


    <ul class="user_list list-group">
     {{#each users}}

        <li class="list-group-item">
        <div class="col-md-1">
            <label for="">{{this.nome}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.ano}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.modelo}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.motor}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.fabricante}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.cor}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.valor}}</label>
        </div>
        <div class="col-md-1">
            <label for="">{{this.opcionais}}</label>
        </div>
        <div class="col-md-4 actions">
            <a href="/users/edit/{{this.id}}">
            {{> edit_user}}
            </a>
            <form action="/users/remove" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">
                {{> del_user}}
            </button>
            </form>
        </div>
        </li>

    {{/each}}
    </ul> --}}
{{!-- </div> --}}
<div class="tabelaCarros">
    <table class="table table-dark table-sm">
        
            <thead class="thead-light">
                <tr class="test-light">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Ano</th>
                <th scope="col">Modelo</th>
                <th scope="col">Motor</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Cor</th>
                <th scope="col">Valor</th>
                <th scope="col">Opicionais</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
        {{#each carros}}   
            <tbody>
                <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.ano}}</td>
                <td>{{this.modelo}}</td>
                <td>{{this.motor}}</td>
                <td>{{this.fabricante}}</td>
                <td>{{this.cor}}</td>
                <td>{{this.valor}}</td>
                <td>{{this.opcionais}}</td>

                <td class="text-end">
                        <a href="/carros/edit/{{this.id}}">
                            {{> edit_user}}
                        </a>
                        <form action="/carros/remove" method="post">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <button type="submit">
                                {{> del_user}}
                            </button>
                        </form>


                        {{!-- <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
                        <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> View</a>
                        <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> View</a> --}}
                    </td>
                </tr>      
            </tbody>
        {{/each}} 
    </table>

</div>
